#login {
	position: relative;
	float: center;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 10%;
}

#headerNavBar {
	background-color: #0747a6 !important;
}

body {
	background-color: white !important;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#signInBtn {
	width: 100%
}

:required:invalid {
	background: #ffc107;
}

#footer {
	display: none;
}

/* #fmheader{
	color : #182930;
}

#userIdDisplay{
	color : #182930;
} */